* {
    box-sizing: border-box;
}
.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.container::after, .container::before, .row::after, .row::before  {
    content: "";
    display: table;
    clear: both;
}
.col-12, .col-6, .col-4, .col-3, .col-2, .col-1 {float: left;padding-left: 10px;padding-right: 10px;}
.col-12 {width: 100%;}
.col-6 {width: 50%;}
.col-4 {width: 33.3333333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.6666666%;}
.col-1 {width: 8.333333333%;}